max.startAfterNSecondsofsleep = 6000
max.wakeupAfterNSecondsofsleep = 4000
max.randomPickFromStringList = true
max.takeScreenshot = false
max.takeScreenshotForEveryStep = false
max.saveGUITreeToXmlEveryStep =false
max.execSchema = true
max.execSchemaEveryStartup  = true
max.grantAllPermission = true
